<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page.title %></title>
    <%- css('css/post.css') %>
</head>
<body>
<main>
    <article>
        <%- page.content %>
    </article>
</main>
<footer>
    <%- include('footer.ejs') %>
</footer>
</body>
</html>
